<%- include('../../layout/top', {page: 'projets'}); %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4">
      <h1>
        <%= project.title %>

        <% if (user) { %>
        <a class="ml-3 btn btn-primary btn-sm" href="./edit/<%= project.slug %>"><i class="fa fa-edit mr-2"></i> Éditer</a>
        <% } %>
      </h1>

      <% if (project.link) { %>
      <a href="<%= project.link %>" title="lien vers la page GiHub">Voir le projet sur Github</a>
      <% } %>

      <p>
        <%= project.description %>
      </p>

    </div>
    <div class="col-xs-12 col-sm-5">
      <% project.users.forEach(u => { %>
      <%= u.name %>
      <% }); %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%- projectLongDescriptionHtml %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7">

    </div>
    <div class="col-xs-12 col-sm-5">
    </div>
  </div>
</div>
<%- include('../../layout/bottom'); %>
