<%- include('./layout/top', {page: 'membre'}); %>
<!-- IFRAME TRICK -->
<!--
<div class="container-fluid">
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" srcdoc="<html>
                <head><%= '<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">' %></head>
                <body><%= content %></body>
                </html>"></iframe>
        </div>
    </div>
</div>
-->

<div class="container mdcontent mt-5">
    <style>.mdcontent img {
            max-width: 100%
        }</style>
    <div class="row">
        <div class="col-12">
            <%- content %>
        </div>
    </div>
</div>
<%- include('./layout/bottom'); %>
