<%- include('./layout/top', {page: 'membre'}); %>
<div class="container">
  <br />
  <br />
  <br />
  <br />
    <div class="profile-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                   <div class="profile">
                        <div class="avatar">
                            <img src="https://www.gravatar.com/avatar/<%= member.hashedEmail %>?size=500" alt="<%- member.firstName %>" class="img-raised rounded-circle img-fluid">
                        </div>
                        <br />
                        <div class="name">
                            <h3 class="title">
                                <%- member.firstName %> <%- member.lastName %>
                                    <% if(user.shortId === member.shortId) { %>
                                        <a class="btn btn-primary btn-sm align-top" href="/perso/profil"  style="line-height: normal;"><i class="fa fa-edit"></i> Éditer</a>
                                    <% }%>
                            </h3>
                            <% if(member.github) { %>
                                <a href="https://github.com/<%- member.github %>" target="_blank" class="btn btn-link btn-dribbble"><i class="fa fa-github fa-lg"></i> @<%- member.github %></a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p><%- member.bio %></p>
            </div>
            <!-- <div>
                <h2>Projets :</h2>

                <div class="list-group">
                  <% projects.forEach(function (project) { %>
                  <a href="<%- project.link %>" class="list-group-item list-group-item-action flex-column align-items-start" target="_self">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%- project.title %></h5>
                    </div>
                    <p class="mb-1"><%- project.description %></p>
                  </a>
                  <% }) %>
                </div>
            </div> -->
        </div>
    </div>
</div>
<%- include('./layout/bottom'); %>
