<%- include('./layout/top', {page: 'membre'}); %>
<div class="container">
  <br />
  <br />
  <br />
  <br />
    <div class="profile-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                   <div class="profile">
                        <div class="avatar">
                            <img src="https://www.gravatar.com/avatar/<%= member.hashedEmail %>?size=500" alt="<%- member.firstName %>" class="img-raised rounded-circle img-fluid">
                        </div>
                        <br />
                        <div class="name">
                            <h3 class="title"><%- member.firstName %> <%- member.lastName %></h3>
                            <% if(member.github) { %>
                                <a href="https://github.com/<%- member.github %>" target="_blank" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-github"></i></a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p><%- member.bio %></p>
            </div>
            <div>
                <h2>Projets :</h2>
                <%- include("./_partials/projectList.ejs", {projects, undefined}) %>
            </div>
        </div>
    </div>
</div>
<%- include('./layout/bottom'); %>
