<%- include('./layout/top', {page: 'membres'}); %>
<div class="container card-bottom">
  <br />
    <div class="card-columns">
      <% users.forEach(function (user) { %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://www.gravatar.com/avatar/<%= user.hashedEmail %>?s=572" alt="<%= user.lastName %> <%= user.firstName %>">
          <div class="card-body">
            <h5 class="card-title"><%= user.lastName %> <%= user.firstName %></h5>
            <p class="card-text"><%= user.bio %></p>
            <a href="/membres/<%= user.shortId %>" class="btn btn-secondary">Voir le profile</a>
          </div>
        </div>
      <% }) %>
    </div>
</div>
<%- include('./layout/bottom'); %>
