<%- include('./layout/top', {page: 'membres'}); %>
<div class="container card-bottom">
  <br />
    <div class="card-columns">
      <% membres.forEach(function (membre) { %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://www.gravatar.com/avatar/<%= membre.hashedEmail %>?s=572" alt="<%= membre.lastName %> <%= membre.firstName %>">
          <div class="card-body">
            <h5 class="card-title"><%= membre.lastName %> <%= membre.firstName %></h5>
            <p class="card-text"><%= membre.bio %></p>
            <a href="/membres/<%= membre.shortId %>" class="btn btn-secondary">Voir le profile</a>
          </div>
        </div>
      <% }) %>
    </div>
</div>
<%- include('./layout/bottom'); %>
